<!DOCTYPE html>
<html>
<head>
    <meta name=" viewport" content="width=device-width" />
    <link rel="stylesheet" asp-href-include="~/lib/bootstrap/dist/css/*.min.css" />
    <title>Dnipro-torg Help Desk</title>
</head>
<body>
    <div class="alert alert-primary" role="navigation">
        <a class="navbar-brand" href="#">IT HelpDesk</a>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>