
@{
    //ViewData["Title"] = "NewIndex";
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">@*, shrink-to-fit=no">*@

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <title>Dnipro-torg HelpDesk!</title>
</head>
<body>
    <div class="text-center">
        <h1>Main page!</h1>
        <h3>To create new order click <a asp-action="NewOrder">here</a>!</h3>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/popper.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
   </body>
</html>