@model DtHelpDesk.Models.WorkOrderModel

@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">@*, shrink-to-fit=no">*@

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <title>New order in HelpDesk!</title>
</head>
<body>
    <h1>Fill in all the fields:</h1>
    <form asp-action="NewOrder" method="post">
        <p>
            <label asp-for="Department">Department:</label>
            <input asp-for="Department" />
        </p>
        <p>
            <label asp-for="Description">Description:</label>
            <input asp-for="Description" />
        </p>
        <button type="submit"> Save order</button>
    </form>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/popper.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>