@model IEnumerable<DtHelpDesk.Models.WorkOrderModel>

@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">@*, shrink-to-fit=no">*@

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <title>Orders.</title>
</head>
<body>
    <h3>There are orders in the system:</h3>
    <table>
        <thead>
            <tr>
                <th>Department</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (DtHelpDesk.Models.WorkOrderModel order in Model) {
                <tr>
                    <td>@order.Department</td>
                    <td>@order.Description</td>
                </tr>
            }
        </tbody>
    </table>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/popper.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>